<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite" parallel="tests">

  <test name="Test1">

  <parameter name="Username" value="admin"></parameter>

  <parameter name="Password" value="admin123"></parameter>

    <classes>

      <class name="TestNGPack.Login"/>

    </classes>

  </test> <!-- Test -->

 

  <test name="Test2">

  <parameter name="Username" value="admin1"></parameter>

  <parameter name="Password" value="admin1234"></parameter>

    <classes>

      <class name="TestNGPack.Login"/>

    </classes>

  </test> <!-- Test -->

</suite> <!-- Suite -->